$primary : #2756ff; 
$basicBorder : 1px solid #ddd;


.logo { 
    width: 75px; 
    overflow: hidden; 
    img { width: 35px; }
}


.menu { 
    padding: 0 2em; 

    ul { 

        li { 
            margin-left: 2rem; 
            line-height: 65px;

            &:first-child { margin-left: 0; }

            a { 
                position: relative;

                &::before { 
                    content: ''; 
                    background: #fff; 
                    display: none; 
                    width: 75%; 
                    height: 3px; 
                    margin:auto;     
                    position: absolute; 
                    left: 0; 
                    right: 0; 
                    bottom: 0; 
                }

                &.active::before { 
                    display: block; 
                }
            }
        }
    }
}


.list-component {
    
    .tit { 
        margin: 1rem 0; 
        text-align: center;
        font-size: .725rem; 
        color: #acafb8; 
    }

    ul { 

        li { 
            display: flex; 
            align-items: center;

            button, a { 
                background: #fff; 
                width: 100%; 
                display: flex; 
                align-items: center;
                padding: .75em 1em; 
                font-size: 16px; 

                &:hover { background: #f1f1f1; }

                span.ml-auto, 
                span.arrive-time { 
                    font-size: .875rem; 
                    color: #aaa; 
                }               
                
                span.arrive-time { padding-top: .5em; }

                span.align-num { 
                    width: 20px; 
                    height: 20px; 
                    line-height: 20px; 
                    margin-right: 1rem; 
                    border: 1px solid $primary; 
                    border-radius: 50%;
                    font-size: .825rem; 
                    color: $primary; 
                }
            }
        }
    }

    &.border { 
        ul.border { border-top: $basicBorder }
        li { border-bottom: $basicBorder }
    }
}


form { 

    & > div { 
        margin-bottom: 1rem; 
        &:last-child { margin-bottom: 0; }
    }

    label { 
        &.tit { 
            display: inline-block; 
            margin-bottom: 1rem; 
            font-weight: 700; 
        }
    }

    input { 
        width: 100%; 
        padding: .5em; 
        border-bottom: $basicBorder; 
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: $primary;

            &:before {
                -webkit-transform: translateX(16px);
                -ms-transform: translateX(16px);
                transform: translateX(16px);
            }
        }

        &:focus + .slider {
            box-shadow: 0 0 1px $primary;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 24px;

        &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }      
}


.dialog-component { 
    background: #fff; 
    position: absolute; 
    box-shadow: 0 0 10px -2px rgba(0,0,0,.25); 
    border: 1px solid #aaa; 
    border-radius: .325rem;
    overflow: hidden; 

    .head { 
        background: $primary; 
        min-width: 67px; 
        display: flex; 
        align-items: center; 
        padding: 1em; 
        color: #fff; 

        .tit { h3 { font-size: .875rem; } }
    }
}

.btn-group { 
    button.btn { 
        margin-left: .5rem; 
        &:first-child { margin-left: 0; }
    }
}

.btn { 
    background: transparent; 
    width: auto; 
    display: inline-block;  
    padding: .5em 1em; 
    border: none; 
    border: 1px solid transparent; 
    border-radius: .325rem; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    vertical-align: middle; 
    outline: none; 
    color: currentColor; 
    font-size: inherit; 
    cursor: pointer;

    &.ellipse { 
        border-radius: 1.5rem;
        &:hover { 
            background: $primary; 
            color: #fff; 
        }
    }

    &.link { 
        padding: 0; 
        &:hover { 
            color: $primary
        }
    }

    &.icon {    
        width: 36px; 
        height: 36px; 
        padding: 0; 
    }

    i { font-size: 14px; }
    span { margin-left: .5rem; }
}

.back-arrow { 
    background: transparent; 
    display: block;
    width: 8px; 
    height: 8px; 
    margin-right: .75rem; 
    padding: 0; 
    border-bottom: 2px solid #ddd; 
    border-left: 2px solid #ddd; 
    transform: rotate(45deg);
}