$primary : #2756ff; 
$basicBorder : 1px solid #ddd;


.logo { 
    width: 75px; 
    img { width: 35px; }
}


.menu { 
    padding: 0 2em; 
    ul { 
        li { 
            margin-left: 2rem; 
            line-height: 65px;

            &:first-child { margin-left: 0; }

            a { 
                position: relative;

                &::before { 
                    content: ''; 
                    background: #fff; 
                    display: none; 
                    width: 75%; 
                    height: 3px; 
                    margin:auto;     
                    position: absolute; 
                    left: 0; 
                    right: 0; 
                    bottom: 0; 
                }

                &.active::before { 
                    display: block; 
                }
            }
        }
    }
}


.list-component {
    &:first-child { margin-top: 0; }

    .tit { 
        margin-bottom: 1rem; 
        text-align: center;
        font-size: .725rem; 
        color: #acafb8; 
    }

    ul { 
        li { 
            display: flex; 
            align-items: center;

            button, a { 
                background: #fff; 
                width: 100%; 
                display: flex; 
                padding: .75em 1em; 

                span { 
                    margin-left: auto; 
                    font-size: .875rem; 
                    color: #aaa; 
                }
            }
        }
    }

    &.border { 
        ul { 
            &.border { border-top: $basicBorder }

            li { 
                border-bottom: $basicBorder
            }
        }
    }
}


form { 

    & > div { 
        margin-bottom: 1rem; 

        &:last-child { margin-bottom: 0; }
    }

    label { 
        &.tit { 
            display: inline-block; 
            margin-bottom: 1rem; 
            font-weight: 700; 
        }
    }

    input { 
        width: 100%; 
        padding: .5em; 
        border-bottom: $basicBorder; 
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: $primary;

            &:before {
                -webkit-transform: translateX(16px);
                -ms-transform: translateX(16px);
                transform: translateX(16px);
            }
        }

        &:focus + .slider {
            box-shadow: 0 0 1px $primary;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 24px;

        &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }      
}


.dialog-component { 
    background: #fff; 
    box-shadow: 0 0 10px -2px rgba(0,0,0,.25); 
    position: absolute; 
    border-radius: .325rem;
    overflow: hidden; 

    .head { 
        background: #2756ff; 
        min-width: 67px; 
        display: flex; 
        align-items: center; 
        padding: 1em; 
        text-align: center;
        color: #fff; 

        .tit { font-size: .875rem; }
    }

    .body { 
        min-height: 50px; 
        padding: 1em; 
    }
}


.crumb-component { 
    height: 100%;
    display: flex; 
    align-items: center;
    flex-wrap: wrap; 
    padding: .5rem 1rem; 

    span:not(:first-child)::before { 
        content:''; 
        display: inline-block;
        width: 10px; 
        height: 10px; 
        margin: 0 .75rem 0 .25rem; 
        border-top: $basicBorder; 
        border-right: $basicBorder; 
        transform: rotate(45deg);
    }
}


.btn-group { 
    button.btn { 
        margin-left: .5rem; 
        &:first-child { margin-left: 0; }
    }
}

.btn { 
    background: transparent; 
    width: auto; 
    display: inline-block;  
    padding: .5em 1em; 
    border: none; 
    border: 1px solid transparent; 
    border-radius: .325rem; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    vertical-align: middle; 
    outline: none; 
    color: currentColor; 
    font-size: inherit; 
    cursor: pointer;

    &.ellipse { 
        border-radius: 1.5rem;
    }

    &.link { 
        padding: 0; 
    }

    &.icon {    
        width: 36px; 
        padding: 0; 
    }

    span { margin-left: .5rem; }
    i { font-size: 14px; }

}