
#header { 
    height: 4.5rem; // 63px
    z-index: 20;
    
    .logo { 
        width: 4.5rem; 
        overflow: hidden; 
        img { width: 2rem; }
    }
}

#container { 
    width: 100%; 
    height: calc(100% - 4.5rem); 
    display: flex; 

    #navSnb { 
        width: 4.5rem; 
        height: 100%; 
        padding-top: 2em; 
        box-shadow: 0 0 4px -1px rgba(0,0,0,.25); 
        z-index: 10; 
    }

    #main { 
        position: relative; 
        flex: 1; 
    }
}


div[role="mapSearch"] { 
    width: 20rem; //280px
    left: 1.5rem; 
    top: 1.5rem; 
} 

div[role="nodeTimeChangeData"] { 
    width: 47.5rem; //665px
    right: 1.5rem;
    bottom: 1.5rem; 
}

div[role="todayCoronaBoard"] { 
    width: 20rem; //280px
    top: 1.5rem; 
    right: 1.5rem; 
}

div[role="mapControlButton"] { 
    background: transparent; 
    border: none; 
    box-shadow: none;
    left: 23rem; 
    top: 1.5rem; 
    overflow: visible;

    div[class*="button"] { 
        background: #fff; 
        border: 1px solid #aaa; 
        margin-left: 1rem; 
        box-shadow: 0 0 4px -1px rgba(0,0,0,.25); 
        border-radius: .325rem;
        &:first-child { margin-left: 0; }

        .btn { 
            &:hover { 
                &.walk { background: #5A5755; }
                &.taxi { background: #F28400; }
                &.bus { background: #00CE13; }
                &.subway { background: #720505; }
            }
        }
    }
}

.confirmed-time-graph { 
    height: 12.5rem; 
    max-height: 12.5rem; 
    position: relative;
}

.today-status-board {
    .tit {
        p { 
            margin-top: .5rem; 
            font-size: .75rem; 
            color: #aaa; 
        }
    }
    
    .day-confirmed-radio { 
        border-bottom: 1px solid #ddd; 
        padding: 1em .5em; 
        label { 
            display: flex; 
        }
    }
    
    .list-component { 
        border-top: 1px solid #ddd; 
        max-height: 250px; 
        overflow-y: auto;
    }
}

.store-board { 
    border-top: 1px solid #ddd; 
    
    .tit {
        p { 
            margin-top: .5rem; 
            font-size: .75rem; 
            color: #aaa; 
        }
    } 

    .list-component { 
        border-top: 1px solid #ddd; 
        max-height: 250px; 
        overflow-y: auto;
    }
}

.confirmed-route { 
    .tit { 
        border-bottom: 1px solid #ddd; 
        button { 
            color: #aaa; 
            &:hover { 
                color: #2756ff; 
            }
        } 
    }

    .detail-route { 
        padding: 0 1rem 1rem; 
        max-height: 375px; 
        overflow-y: auto; 
        
        dt {
            padding-left: 2rem; 
            margin: 1.5rem 0; 
            font-weight: 700; 
            &:first-child { margin-top: 0; }
        }

        dd { 
            margin-bottom: 1.5rem; 
            &:last-child { 
                margin-bottom: 0; 
                .position-detail::after { 
                    display: none;
                }
            }

            .position-detail { 
                padding-left: 2rem;                                

                &::before { 
                    content:''; 
                    display: block; 
                    background: #fff; 
                    width: 13px; 
                    height: 13px; 
                    border: 3px solid #2756ff; 
                    border-radius: 50%;
                    position: absolute;
                    top: 0; 
                    left: 0; 
                    z-index: 10;
                }

                &::after { 
                    content:''; 
                    display: block; 
                    position: absolute;
                    top: 13px; 
                    left: 6px; 
                    width: 1px; 
                    height: 4.5rem; 
                    border-left: 1px dashed #2756ff; 
                }
                
                button { 
                    background: #fff; 
                    &:hover { color: #2756ff; }
                }

                .time-position {
                    margin-left: 1rem; 
                }
                .transport { 
                    font-size: .925rem; 
                    margin-top: 1.5rem; 
                    color: #aaa; 
                    .transport-name { margin: 0 .25rem 0 1rem; }

                    .bus { 
                        .transport-name { 
                            background: #eee; 
                            padding: .25em .35em; 
                            border-radius: .25rem;
                        }
                    }
                }
            }            
        }
    }
}

.area-confirmed-num { 

    li {
        margin-left: 1rem; 
        
        &.confirmed .node-color { border-color: #2756ff }
        &.dead .node-color { border-color: #ff2727 }
        &.recovered .node-color { border-color: #78eb42 }
        
        .node-color {
            background:#fff; 
            width: 1rem; 
            height: 1rem; 
            display: inline-block; 
            margin-right: .5rem; 
            border: 3px solid #ddd; 
            border-radius: 50%;
        }
        .confirmed-type { 
            margin-right: .5rem; 
            .total-num { margin-left: .25rem; }
        }
    }
}

.area-confirmed-today { 
    height: 16rem; //224rem
    min-width: 9rem; //126rem
    margin-left: 1rem; 
    border-left: 1px solid #ddd; 
    overflow-y: auto;

    ul {
        li { 
            button { 
                display: flex;
                align-items: center;
            }
        }
    } 
}

.ui-datepicker { 
    margin-top: 1rem; 

    .ui-datepicker-header { 
        background: #fff; 
        border-color: transparent; 

        .ui-datepicker-title { 
            display: flex; 
            align-items: center; 
            justify-content: center;
            select { 
                flex: 1; 
            }
        }
    }
    
    .ui-datepicker-calendar { 
        td { 
            a.ui-state-default { 
                background: #fff; 
                border-color: transparent; 
            }
        }
    }
}
