
#header { 
    height: 4.5rem; // 63px
    z-index: 20;
    
    .logo { 
        width: 4.5rem; 
        overflow: hidden; 
        img { width: 2rem; }
    }
}

#container { 
    width: 100%; 
    height: calc(100% - 4.5rem); 
    display: flex; 

    #navSnb { 
        width: 4.5rem; 
        height: 100%; 
        padding-top: 2em; 
        box-shadow: 0 0 4px -1px rgba(0,0,0,.25); 
        z-index: 10; 
    }

    #main { 
        position: relative; 
        flex: 1; 
    }
}

div[role="mapSearch"] { 
    width: 20rem; //280px
    left: 1.5rem; 
    top: 1.5rem; 
} 

div[role="nodeTimeChangeData"] { 
    width: 47.5rem; //665px
    right: 1.5rem;
    bottom: 1.5rem; 
}

div[role="todayCoronaBoard"] { 
    width: 20rem; //280px
    top: 1.5rem; 
    right: 1.5rem; 
}

div[role="mapControlButton"] { 
    background: transparent; 
    border: none; 
    box-shadow: none;
    top: 1.5rem; 
    left: 27.5%; 
    
    overflow: visible;

    div[class*="button"] { 
        background: #fff; 
        border: 1px solid #aaa; 
        margin-left: 1rem; 
        box-shadow: 0 0 4px -1px rgba(0,0,0,.25); 
        border-radius: .325rem;
        font-size: .85rem; 
        &:first-child { margin-left: 0; }
        .btn { 
            padding: .6082rem; 
        }
    }

    .transport-view-button { 
        // .btn { 
        //     &.walk { color:#5a5755; span::after {background: #5a5755}}
        //     &.taxi { color: #F28400; span::after {background: #F28400}}
        //     &.bus { color: #00CE13; span::after {background: #00CE13}}
        //     &.subway { color: #720505; span::after {background: #720505}}
        //     &.car { color: #000; span::after {background: #000}}
        // }

        div[id*="walk"] .switch input:checked + .slider { background: #5a5755 }
        div[id*="taxi"] .switch input:checked + .slider { background: #F28400 }
        div[id*="bus"] .switch input:checked + .slider { background: #00CE13 }
        div[id*="subway"] .switch input:checked + .slider { background: #720505 }
        div[id*="car"] .switch input:checked + .slider { background: #000 }

        div[id*="Toggle"] {
            span.mr-5 { 
                display: flex; 
                align-items: center;
                font-size: .85rem; 
                i { 
                    margin-right: .35rem; 
                    font-size: 1rem; 
                    &.fa-car-alt { font-size: 1.1rem; } 
                    &.fa-walking { color: #5a5755; }
                    &.fa-bus { color: #00CE13; }
                    &.fa-taxi { color: #F28400; }
                    &.fa-subway { color: #720505; }
                }
            }            
        }
    }
}

.confirmed-time-graph { 
    height: 12.5rem; 
    max-height: 12.5rem; 
    position: relative;
}

.today-status-board {
    .tit {
        p { 
            margin-top: .5rem; 
            font-size: .75rem; 
            color: #aaa; 
        }
    }
    
    .day-confirmed-radio { 
        border-bottom: 1px solid #ddd; 
        padding: 1em .5em; 
        label { 
            display: flex; 
        }
    }
    
    .confirmed-list { 
        border-top: 1px solid #ddd; 
        max-height: 17.857rem; 
        overflow-y: auto;
    }
}

.store-board { 
    border-top: 1px solid #ddd; 
    
    .tit {
        p { 
            margin-top: .5rem; 
            font-size: .75rem; 
            color: #aaa; 
        }
    } 

    .list-component { 
        border-top: 1px solid #ddd; 
        max-height: 17.857rem; 
        overflow-y: auto;
    }
}

.confirmed-route { 
    .tit { 
        border-bottom: 1px solid #ddd; 
        button { 
            color: #aaa; 
            &:hover { 
                color: #2756ff; 
            }
        } 
    }

    .detail-route { 
        padding: 0 1rem 1rem; 
        max-height: 375px; 
        overflow-y: auto; 
        
        dt {
            padding-left: 2rem; 
            margin: 1.5rem 0; 
            font-weight: 700; 
            &:first-child { margin-top: 0; }
        }

        dd { 
            margin-bottom: 1.5rem; 
            &:last-child { 
                margin-bottom: 0; 
                .position-detail::after { 
                    display: none;
                }
            }

            .position-detail { 
                padding-left: 2rem;                                

                &::before { 
                    content:''; 
                    display: block; 
                    background: #fff; 
                    width: .975rem; 
                    height: .975rem; 
                    border: 3px solid #2756ff; 
                    border-radius: 50%;
                    position: absolute;
                    top: 0; 
                    left: 0; 
                    z-index: 10;
                }

                &::after { 
                    content:''; 
                    display: block; 
                    position: absolute;
                    top: .975rem; 
                    left: .465rem; 
                    width: 1px; 
                    height: 4.5rem; 
                    border-left: 1px dashed #2756ff; 
                }
                
                button { 
                    background: #fff; 
                    &:hover { color: #2756ff; }
                }

                .time-position {
                    max-width: 9rem; 
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-left: 1rem; 
                }
                .transport { 
                    font-size: .925rem; 
                    margin-top: 1.5rem; 
                    color: #aaa; 
                    .transport-name { margin: 0 .25rem 0 1rem; }

                    .bus { 
                        .transport-name { 
                            background: #eee; 
                            padding: .25em .35em; 
                            border-radius: .25rem;
                        }
                    }
                }
            }            
        }
    }
}

.area-confirmed-num { 

    li {
        margin-left: 1rem; 
        
        &.confirmed .node-color { border-color: #2756ff }
        &.dead .node-color { border-color: #ff2727 }
        &.recovered .node-color { border-color: #78eb42 }
        
        .node-color {
            background:#fff; 
            width: 1rem; 
            height: 1rem; 
            display: inline-block; 
            margin-right: .5rem; 
            border: 3px solid #ddd; 
            border-radius: 50%;
        }
        .confirmed-type { 
            margin-right: .5rem; 
            .total-num { margin-left: .25rem; }
        }
    }
}

.area-confirmed-today { 
    height: 16rem; //224rem
    min-width: 9rem; //126rem
    margin-left: 1rem; 
    border-left: 1px solid #ddd; 
    overflow-y: auto;

    ul {
        li { 
            button { 
                display: flex;
                align-items: center;
            }
        }
    } 
}

div.ui-datepicker { 
    margin-top: 1rem; 
    padding: .4em; 
    position: relative;
    box-shadow: 0 0 4px -1px rgba(0,0,0,.25); 

    &::before { 
        position: absolute; 
        top: -6px; 
        left: 25px; 
        background: #fff; 
        width: 10px; 
        height: 10px; 
        transform: rotate(45deg); 
        border-top: 1px solid #c5c5c5; 
        border-left: 1px solid #c5c5c5; 
    }

    .ui-datepicker-header { 
        background: #fff; 
        padding: .6em 0; 
        border-color: transparent; 

        .ui-datepicker-title { 
            display: flex; 
            align-items: center; 
            justify-content: center;
            select { 
                flex: 1; 
            }
        }
        
        a.ui-corner-all {
            display: flex; 
            align-items: center;
            justify-content: center;
            top: 6px; 

            span { 
                background-image: none; 
                border-top: 2px solid #aaa; 
                border-left: 2px solid #aaa; 
                width: 8px; 
                height: 8px; 
                margin-left: -4px; 
                margin-top: -4px; 
                transform: rotate(-45deg);
            }

            &.ui-datepicker-next { 
                span { 
                    transform: rotate(135deg); 
                }
            }

            &.ui-state-hover { 
                border: none; 
                background: transparent; 
                span { 
                    border-color: #2756ff; 
                }
            }
        }
    }
    
    .ui-datepicker-calendar { 
        margin: 0; 

        td { 
            a.ui-state-default { 
                background: #fff; 
                border-color: transparent; 
                padding: 0; 
                text-align: center;
                width: 2.1rem; 
                height: 2.1rem; 
                line-height: 2.1rem; 

                &:hover { background: #e1e7ff }

                &.ui-state-active { 
                    background: #2756ff; 
                    color: #fff;                     
                }

                &.ui-state-highlight:not(.ui-state-active) { 
                    border-color: transparent; 
                    font-weight: 700; 
                    color: #2756ff; 
                }
            }
        }
    }
}
